.btn {
  text-rendering: geometricPrecision;
  letter-spacing: 0.18px;
  text-transform: uppercase;
  line-height: normal;
  padding: 12px 31px;

  @include media-breakpoint-down(lg) {
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 23px;
    padding-right: 23px;
    font-size: rem-calc(14);
    letter-spacing: 0.98px;
  }

  &:hover {
    background-color: hsl(0, 100%, 76%);
    border-color: hsl(0, 100%, 76%);
  }

  &:focus {
    box-shadow: none;
  }

  &.btn-link:not(.btn-link-header) {
    background-color: transparent;
    padding: 0;
    border: 0;
    text-decoration: none;
    color: $gray-500;
    letter-spacing: 4.64px;
    &:hover {
      color: $gray-500;
      text-decoration: underline;
    }

    @include media-breakpoint-down(lg) {
      letter-spacing: 2.52px;
    }
  }
}
