.footer-brand {
  img {
    width: auto;
    height: 52px;
  }

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.footer-links {
  .nav-link {
    padding-left: 0;
    padding-right: 0;
  }
}
