.navbar-brand {
  display: inline-block;
  height: 24px;
  line-height: 0;

  @include media-breakpoint-up(lg) {
    height: 32px;
    align-self: center;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.navbar {
  top: 30px;
  @include media-breakpoint-up(lg) {
    top: 60px;
  }

  /*
   * WP Admin Bar navbar quickfix
   */
  .admin-bar & {
    top: auto !important;
  }

  .admin-bar.affixed & {
    @media (max-width: 600px) {
      top: 0 !important;
    }
  }
  // :WP Admin Bar navbar quickfix
  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }
  }

  .container {
    .inner-wrapper {
      display: flex;
      flex-wrap: inherit;
      align-items: center;
      justify-content: space-between;
    }
  }

  .affixed & {
    background-color: $white;
    top: 0;
  }

  .navbar-collapse {
    @include media-breakpoint-down(lg) {
      background-color: $white;
      margin-left: 17px;
      margin-right: 17px;
      margin-top: 38px;
      box-shadow: $dropdown-box-shadow;
      border-radius: 4px;
    }
  }

  .navbar-active:not(.affixed) & {
    @include media-breakpoint-up(lg) {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .navbar-nav {
    @include media-breakpoint-down(lg) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  .navbar-nav-icon-desktop {
    .dropdown-toggle {
      @include media-breakpoint-up(lg) {
        position: relative;
        display: block;
        width: 24px;
        height: 24px;
        transform: rotate(90deg);
        vertical-align: rem-calc(6);

        .svg-inline--fa {
          position: absolute;
          font-size: rem-calc(12);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .dropdown-toggle {
    border: 0;
    padding: 0 rem-calc(5.25);
    height: 24px;

    .svg-inline--fa {
      font-size: rem-calc(18);
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }

    // Removed default navbar-link dropdwon-toggle carret
    &::after {
      content: none;
    }
  }

  .dropdown-menu {
    @include media-breakpoint-up(lg) {
        margin-top: 0;
        border: 0;

        .nav-link {
          padding-left: $grid-gutter-width / 2;
          padding-right: $grid-gutter-width / 2;
        }
    }
  }

  .nav-link {
    font-family: $headings-font-family;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    font-weight: $font-weight-bold;
    
    &:hover {
      text-decoration: underline;
    }

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(16);
    }

    @include media-breakpoint-down(lg) {
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
      letter-spacing: 1.26px;
    }
  }

  .nav-item {
    + .nav-item {
      @include media-breakpoint-up(lg) {
        margin-left: 24px;
      }

      @include media-breakpoint-down(lg) {
        margin-top: 16px;
      }
    }
  }

  .btn-link-header {
    font-family: $headings-font-family;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    font-weight: $font-weight-bold;
    color: $gray-500;
    text-decoration: none;
    padding: 8px;
    border: 0;

    @include media-breakpoint-up(lg) {
      padding-right: 0;
      font-size: rem-calc(16);
    }

    @include media-breakpoint-down(lg) {
      font-size: rem-calc(18);
      letter-spacing: 1.26px;
    }

    &:hover {
      text-decoration: underline;
      background-color: transparent;
    }
  }

  .navbar-action {
    @include media-breakpoint-up(lg) {
      &::before {
        content: "";
        width: 5px;
        height: 5px;
        display: block;
        background-color: $gray-500;
        border-radius: 5px;
        margin-left: 37px;
        margin-right: 38px;
      }
    }

    @include media-breakpoint-down(lg) {
      justify-content: center;
      border-top: 1px solid $gray-200;
      margin-left: 17px;
      margin-right: 17px;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}